.input-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.file_upload::file-selector-button {
    /* Настройте внешний вид кнопки */
    background-color: #fff;
    border: 1px solid #1890FF;
    border-color: #1890FF;
    color: #000;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.3s;
    /* Добавьте другие стили по вашему выбору */
}
.file_upload::file-selector-button:hover {
    /* Настройте внешний вид кнопки */
    background-color: #4899fc;
    color: #fff;
}

.file_upload{
    width: 50%;
    text-overflow: ellipsis;
}